# Sensitive data (SANGAT RISKAN, WAJIB MASUK SINI)
node_modules/
.next/
.env.local
.env
.env.local
.env.development.local
.env.production.local
.env.*.local

# Dependencies
node_modules/
/pnpm-lock.yaml
/package-lock.json
/yarn.lock

# Next.js build output
.next/
out/
build/

# IDE / Operating System files
.DS_Store
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
